@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    background: #EBE0CE;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul :hover{
    color: #ED3C20;
}
.navbar{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    text-align: center;
    padding-right: 60px;
    justify-content: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 500;
    font-size: 20px;
}
ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.navbar img{
    width: 100px;
    height: 100px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
  justify-content: center;
}
#img-right-side{
    width: 500px;
    height: 500px;
}
h1{
    font-size: 100px;
    color: #ED3C20;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}
button{
    background-color: #ED3C20;
    color: white;
    border-radius: 5px;
    margin: 10px;
    border: 0;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    font-size: 40px;
}
button:hover{
    background-color: white;
    color: #ED3C20;
    cursor: pointer;
    border-color: #ED3C20;
}
.galerie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    margin: 20px;
}
.galerie-img{
    height: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}
.mini-galerie{
    background-color: #F1E9DC;
    margin: 10px;
    padding: 10px;
}
.name-product{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 30px;
}
.price-product{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 15px;
}
#no-price{
    color: #ED3C20;
    text-decoration: line-through;
}
footer{
    text-align: center;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    left: 0;
   bottom: 0;
   width: 100%;
   background-color: #EBE0CE;
   margin: 0;
}
.carte-countiner{
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: repeat(5, 50%);
    margin: 20px;
}
.product-list{
    background-color: #F1E9DC;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-top: 10px;
}
body > div.carte-countiner > div > div > div:nth-child(1) > img {
    height: 125px;
    width: 125px;
    margin: 20px;
}
.discription-sushi{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}
.description{
    
}
svg{
    width: 50px;
    height: 50px;
}
svg:hover{
    color: #ED3C20;
    cursor: pointer;
}
.svgs{
    display: flex;
    flex-direction: column;
}
h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;
    text-align: center;
}
.card-details{
    background-color: white;
    border-radius: 5px;
    display: grid;
    visibility: hidden;
    grid-template-rows: repeat(6, 1fr);
    text-align: center;
    margin: 50px;
}
body > div.carte-countiner > div.card-details.btnshadow > div:nth-child(6) > div.inputinline{
    display: flex;
    justify-content: center;
}
body > div.carte-countiner > div.card-details > div:nth-child(6) > div.inputinline > input[type=number]:nth-child(2){
    background-color: transparent;
    width: 15%;
}
body > div.carte-countiner > div.card-details > div:nth-child(6) > div.inputinline > input[type=number]:nth-child(1){
    background-color: transparent;
    width: 20%;
}
body > div.carte-countiner > div.card-details > div:nth-child(5) > input[type=text]{
    background-color: transparent;
    width: 30%;
}
.fact-price{
    display: inline;
}
#thintext{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
}
input{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 20px;
    border-width: 0px 0px 1px 0px;
    
}
.inputinline{
    display: inline-block;
}
body > div.carte-countiner > div.card-details > div > button{
    width: 90%;
    display: block;
    margin: auto;
}
.countinercontact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.miniblok{
    margin: 5%;
    padding: 2%;
}
#miniblok{
    background-color: white;
    text-align: center;
    margin: 10%;
}
.info-align{
    text-align: left;
}
.contactus-text{
    color: #223d55;
}
.inputborde{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: black;
    background-color: transparent;
    resize: none;
    outline: none;
} 
.big-class-aboutus{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
}
body > div.big-class-aboutus > div:nth-child(1){
    background-color: white;
    margin: 5% 20% 5% 20%;
}
h2{
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: bold;
}
body > div.big-class-aboutus > div:nth-child(1) > p{
    margin: 10px;
}
body > div.menu > div.left-side > p{
    text-align: left;
    margin-left: 70px;
}

.menu-log{
    display: none;
}
@media (max-width: 780px){
    .big-class-aboutus{
        display: flex;
        flex-direction: column  ;
        text-align: center;
    }
    .countinercontact{
        flex-direction: column;
    }
    .galerie{
        grid-template-columns: repeat(1, 1fr);
    }
    .product-list{
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-right: 80px;
        margin-left: 80px;
    }
    .description{
        margin: 0;
    }
    .svgs{
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    .discription-sushi{
        display: none;
        
    }
    .name-product{
        margin: 0;
    }
    .card-details{
        display: none;
    }
    .svgs{
        margin-bottom: 10px;
    }
    .carte-countiner{
        grid-template-columns: 100%;
        grid-template-rows: repeat(5, 50%);
    }   

    .menu-log{
        display: inline;
        justify-content: center;
    }
    body > div.menu > div.left-side > p{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .navbar img{
        display: none;
    }
    .navbar{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80;
}   
ul{
    display: none;
}
.inpt-quantiti{
    margin: 0;
}

    ul.active{
        display: flex;
        flex-direction: column;
    }
    li{
        width: 100px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .menu-log:hover{
        color: #ED3C20;
    }
    
}
body > div.carte-countiner > div.card-details > div:nth-child(6) > div.inputinline{
    display: flex;
}
body > div.countinercontact > div:nth-child(1) > input:nth-child(4){
    margin: 0;
}
body > div.countinercontact > div:nth-child(1) > input:nth-child(6){
    margin: 0;
}
body > div.countinercontact > div:nth-child(1) > input:nth-child(8){
    margin: 0;
}
@media (max-width = 900px){
    .menu{
        display: flex;
        flex-direction: column;
    }
}
li{
    list-style: none;
}
.card-details.btnshadow{
    visibility: visible;
}
body > div.carte-countiner > div > div > div.quantity-number > input[type=number]{
    height: 30;
    width: 30;
}
.inpt-quantiti{
    height: 40px;
    width: 40px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Barlow Condensed', sans-serif;
}
.btn-buy-buy{
    margin-left: 5px;
    margin-right: 5px;
}
.first-price-display{
    font-size: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 300;
    margin: 10px;
}