@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Barlow Condensed', sans-serif;
}
body{
    background: #EBE0CE;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: black;
}
ul :hover{
    color: #ED3C20;
}
.navbar{
    display: grid;
    grid-template-columns: 10% 90%;
    align-items: center;
    text-align: center;
    padding-right: 60px;
    justify-content: center;
    
    font-weight: 500;
    font-size: 20px;
}
ul{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.navbar img{
    width: 100px;
    height: 100px;
}
.menu{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    text-align: center;
    align-items: center;
  justify-content: center;
}
#img-right-side{
    width: 100%;
}
h1{
    font-size: 100px;
    color: #ED3C20;
    
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 20px;
}
button{
    background-color: #ED3C20;
    color: white;
    border-radius: 5px;
    margin: 10px;
    border: 0;
    
    font-weight: 300;
    font-size: 40px;
}
button:hover{
    background-color: white;
    color: #ED3C20;
    cursor: pointer;
    border-color: #ED3C20;
}
.galerie{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    justify-content: center;
    margin: 20px;
}
.galerie-img{
    height: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
}
.mini-galerie{
    background-color: #F1E9DC;
    margin: 10px;
    padding: 10px;
}
.name-product{
    
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 25px;
}
.price-product{
    
    font-weight: 300;
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    text-align: center;
    margin-bottom: 8px;
    margin-top: 8px;
    font-size: 15px;
}
#no-price{
    color: #ED3C20;
    text-decoration: line-through;
}
footer{
    text-align: center;
    
    font-weight: 400;
    left: 0;
   bottom: 0;
   width: 100%;
   background-color: #EBE0CE;
   margin: 0;
}
.carte-countiner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 5%;
}
.main-product-list{
    margin: 10px;
    height: auto;
    width: auto;
}
img{
    border-radius: 5px;
}
.product-list{
    background-color: #F1E9DC;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
body > div.carte-countiner > div > div > div:nth-child(1) > img {
    height: 125px;
    width: 125px;
    margin: 20px;
}
.discription-sushi{
    font-size: 15px;
    font-weight: 300;
}
.description{
    text-align: center;
}
svg{
    width: 50px;
    height: 50px;
}
svg:hover{
    color: #ED3C20;
    cursor: pointer;
}
.fa-solid{
    margin-left: 10px;
    margin-right: 10px;
}
.p-list{
    text-align: center;
    margin: 0;
}
#list-done-buy{
    width: 90%;
    
                height: 80px;
                overflow: auto;
                text-align:justify;
}
.p-list-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.svgs{
    display: flex;
}
h2{
    
    font-weight: 400;
    text-align: center;
}
.card-details{
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    display: flex;
    position: fixed;
    visibility: hidden;
    flex-direction: column;
    top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    text-align: center;
}
.archive{
    z-index: 1;
    background-color: white;
    border-radius: 5px;
    display: flex;
    overflow-y: scroll;
    max-height: 80%;
    visibility: hidden;
    position: fixed;
    flex-direction: column;
    top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
    text-align: center;
    padding: 25px;
}
.big-archive{
    display: flex;
}
body > div.carte-countiner > div.card-details.btnshadow > div:nth-child(6) > div.inputinline{
    display: flex;
    justify-content: center;
}
body > div.carte-countiner > div.card-details > div:nth-child(6) > div.inputinline > input[type=number]:nth-child(2){
    background-color: transparent;
    width: 15%;
}
body > div.carte-countiner > div.card-details > div:nth-child(6) > div.inputinline > input[type=number]:nth-child(1){
    background-color: transparent;
    width: 20%;
}
body > div.carte-countiner > div.card-details > div:nth-child(5) > input[type=text]{
    background-color: transparent;
    width: 30%;
}
.fact-price{
    display: inline;
}
#thintext{
    
    font-weight: 300;
}
input{
    margin-right: 20px;
    margin-left: 20px;
    margin-bottom: 8px;
    margin-top: 20px;
    border-width: 0px 0px 1px 0px;
    
}
.inputinline{
    display: inline-block;
}
body > div.carte-countiner > div.card-details > div > button{
    width: 90%;
    display: block;
    margin: auto;
}
.countinercontact{
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    justify-content: center;
}

.miniblok{
    margin: 5%;
    padding: 2%;
    text-align: left;
}
#miniblok{
    background-color: #F1E9DC;
    text-align: center;

    margin: 10%;
}
.info-align{
    text-align: left;
    margin-left: 5%;
    margin-top: 10%;
}
.contactus-text{
    color: #223d55;
}
.inputborde{
    border-left: 0;
    border-right: 0;
    border-top: 0;
    border-color: black;
    background-color: transparent;
    resize: none;
    outline: none;
    margin: 0;
    margin-bottom: 10px;
    width: 100%;
} 
.big-class-aboutus{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 0.4fr);
    text-align: center;
    align-items: center;
    align-content: center;
}
body > div.big-class-aboutus > div:nth-child(1){
    background-color: #F1E9DC;
    width: 80%;
    padding: 2%;
    margin: 2%;
}
h2{
    
    font-weight: bold;
}
body > div.big-class-aboutus > div:nth-child(1) > p{
    margin: 10px;
}
body > div.menu > div.left-side > p{
    text-align: left;
    margin-left: 70px;
}

.menu-log{
    display: none;
}

@media (max-width: 780px){
    .big-class-aboutus{
        display: flex;
        flex-direction: column  ;
        text-align: center;
    }
    
    .countinercontact{
        display: flex;
        flex-direction: column;
    }
    .galerie{
        grid-template-columns: repeat(1, 1fr);
    }
    .description{
        margin: 0;
    }
    .svgs{
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }
    .discription-sushi{
        display: none;
        
    }
    .name-product{
        margin: 0;
    }
    .svgs{
        margin-bottom: 10px;
    }
    .carte-countiner{
        grid-template-columns: repeat(2, 1fr);
    }   

    .menu-log{
        display: inline;
        justify-content: center;
    }
    body > div.menu > div.left-side > p{
        display: none;
    }
    .menu{
        display: flex;
        flex-direction: column;
    }
    .navbar img{
        display: none;
    }
    .navbar{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 80;
}   
ul{
    display: none;
}

    ul.active{
        display: flex;
        flex-direction: column;
    }
    li{
        width: 100px;
        margin-left: 50px;
        margin-top: 50px;
    }
    .menu-log:hover{
        color: #ED3C20;
    }
    
}
@media (max-width: 530px){
    .carte-countiner{
        grid-template-columns: repeat(1, 1fr);
    } 
    
}
@media (max-width: 353px){
    .price-product{
        margin-right: 20px;
    margin-left: 20px;
    }
    .card-details{
        margin: 10px;
    }
    
}
.x-close{
    display: flex;
    padding-top: 20px;
}
body > div.carte-countiner > div.card-details > div:nth-child(6) > div.inputinline{
    display: flex;
}
body > div.countinercontact > div:nth-child(1) > input:nth-child(4){
    margin: 0;
}
body > div.countinercontact > div:nth-child(1) > input:nth-child(6){
    margin: 0;
}
body > div.countinercontact > div:nth-child(1) > input:nth-child(8){
    margin: 0;
}
@media (max-width = 900px){
    .menu{
        display: flex;
        flex-direction: column;
    }
}
li{
    list-style: none;
}
.card-details.btnshadow{
    visibility: visible;
}
.overlay.btnshadow{
    visibility: visible;
}
.archive.btnshadow{
    visibility: visible;
}
body > div.carte-countiner > div > div > div.quantity-number > input[type=number]{
    height: 30;
    width: 30;
}
.inpt-quantiti{
    height: 30px;
    width: 30px;
    border: none;
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    
    padding: 0;
    margin: 0;
    margin-left: 5px;
}
.btn-buy-buy{
    margin-left: 5px;
    margin-right: 5px;
}
.first-price-display{
    font-size: 40px;
    
    font-weight: 300;
    margin: 0;
    margin-right: 5px;
}
i{
    margin-top: 5px;
    margin-bottom: 5px;
}
.price-qua{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.filterby{
    display: flex;
    font-weight: bold;
    justify-content: space-around;
    text-align: center;
    width: 100%;
    background-color: #F1E9DC;
}
.brd-filter{
    font-size: 20px;
    font-weight: lighter;
}
.brd-filter:hover{
    font-size: 40px;
    transition: font-size 1000ms;
    cursor: pointer;
    color: #ED3C20;
}
.brd-filter:hover + .filterby{
    transition: margin-bottom 500ms;
    margin-bottom: 50px;
}
.main-product-list:hover{
    transition: box-shadow 500ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    
}
.done-pricz.active{
    display: none;
}
.card-details:hover{
    transition: box-shadow 500ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    transition: transform .5s;
}
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    visibility: hidden;
    background-color: #EBE0CE;
    z-index: 100;
}
sup{
    color: #ED3C20;
}
.mini-archive{
    padding: 10px;
}
.flexendlini{
    display: flex;
    justify-content: flex-end;
    color: #ED3C20;
}
.widthlini{
    width: 80%;
}